<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hangman Web : Solo</title>
    <link rel="stylesheet" href="template/stylesolo.css" type="text/css">
</head>
<body>

<div class="chat">
    <div class="headerchat">
    <button class="finish">Finir</button>
    </div>
    <div class="typechat">
        <button class="plus">+</button>
        <div class="faketype">Message</div>
    </div>
</div>

<form action="/solo">
    <button type="submit" name="letter" value="a"> A </button>
    <button type="submit" name="letter" value="b"> B </button>
    <button type="submit" name="letter" value="c"> C </button>
    <button type="submit" name="letter" value="d"> D </button>
    <button type="submit" name="letter" value="e"> E </button>
    <button type="submit" name="letter" value="f"> F </button>
    <button type="submit" name="letter" value="g"> G </button>
    <button type="submit" name="letter" value="h"> H </button>
    <button type="submit" name="letter" value="i"> I </button>
    <button type="submit" name="letter" value="j"> J </button>
    <button type="submit" name="letter" value="k"> K </button>
    <button type="submit" name="letter" value="l"> L </button>
    <button type="submit" name="letter" value="m"> M </button>
    <button type="submit" name="letter" value="n"> N </button>
    <button type="submit" name="letter" value="o"> O </button>
    <button type="submit" name="letter" value="p"> P </button>
    <button type="submit" name="letter" value="q"> Q </button>
    <button type="submit" name="letter" value="r"> R </button>
    <button type="submit" name="letter" value="s"> S </button>
    <button type="submit" name="letter" value="t"> T </button>
    <button type="submit" name="letter" value="u"> U </button>
    <button type="submit" name="letter" value="v"> V </button>
    <button type="submit" name="letter" value="w"> W </button>
    <button type="submit" name="letter" value="x"> X </button>
    <button type="submit" name="letter" value="y"> Y </button>
    <button type="submit" name="letter" value="z"> Z </button>

</form>
{{ .Word }}
</body>
</html>